.row{
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgKZWbcIkaA7Ff4x1bmxuFAQVOPgcawX95m9F0qb7W9w&s');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px; */
    background-color: beige;
}
/* #sports{
    border: 2px;
    border-radius: 2px solid yellow;
} */